:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --link-hover-color: #2196F3;
    --background-color: #FFF;
    --header-background-color: #FFF;
    --footer-background-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.60);
    --blue-text: #2196F3;
    --black-text: #000;
    --white-text: #FFF;
    --container-color: #2F303A;
    --button-background-color: #F5F4FA;
    --main-button-hover-color: #188CE8;



}

/*Global Styles */
body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

.global-header {
    background-color: var(--header-background-color);
}

.global-header a,
.global-footer a {
    text-decoration: none;
}

/* Navigation */
.main-navigation a {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.global-header .main-navigation a:hover,
.global-header .main-navigation a:focus {
    color: var(--link-hover-color);
}

#current {
    color: var(--link-hover-color)
}

/* Logo */
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}

/* Text Colors*/
.blue-text {
    color: var(--blue-text);
}

.black-text {
    color: var(--black-text);
}

.white-text {
    color: var(--white-text);
}

/* Remove List Bullets */
.main-navigation ul,
.services ul,
.what-we-do ul,
.our-team ul,
.portofolio ul {
    list-style-type: none;
}

/* Contact Info Links*/
.contact-info a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.contact-info a:hover,
.contact-info a:focus {
    color: var(--link-hover-color);
}

/* Container Styles */
.container {
    background-color: var(--container-color);
    text-align: center;

}

/* Main Title */
.main-title {
    color: var(--white-text);
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    text-transform: uppercase;
}

/* Buttons */
.main-button {
    background-color: var(--blue-text);
    border: none;
    color: var(--white-text);
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    line-height: 187.5%;
}

.button {
    background-color: var(--button-background-color);
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 165.5%;
}

.button:hover,
.button:focus {
    background-color: var(--link-hover-color);
    color: var(--white-text);
}

.main-button:hover,
.main-button:focus {
    background-color: var(--main-button-hover-color);
    color: var(--white-text);
}

.main-button,
.button {
    font-family: inherit;
    cursor: pointer;
}

/* Service Heading */
.heading-services {
    width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* Service Paragraph*/
.paragraph-services {
    color: var(--secondary-text-color);
    line-height: 171.429%;
}

/* Second Title*/
.second-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

/* Our team Section */
.our-team {
    background-color: var(--button-background-color);
}

.team-members {
    background-color: var(--background-color);
}

.team-members h3,
.team-members span {
    display: block;
    text-align: center;
}

.second-title-team {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: normal;
}

/* Second Title for Porducts and Services*/
.second-title-products-services {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}

.type {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 187.5%;
}

/* Global Footer */
.global-footer {
    background-color: var(--footer-background-color);
}

.footer-address {
    color: var(--white-text);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.footer-address a {
    color: var(--footer-link-color);
    font-size: 14px;
    line-height: 114.286%;
}

.global-footer .footer-address a:hover,
.global-footer .footer-address a:focus {
    color: var(--link-hover-color);
}